<div style="margin-top: 20px;">
    {% if page.next.url %}
        <div title="{{ page.next.title }}" class="right stylish-tooltip-not-that-close shadowed brand-background rounded inline-blocked center post-navigation-button">
            <a href="{{ page.next.url }}" >
                <div class="button-padding">
                    <strong class="white">Next</strong>
                </div>    
            </a>
        </div>
    {% endif %}

    {% if page.previous.url %}
        <div title="{{ page.previous.title }}" class="left stylish-tooltip-not-that-close shadowed brand-background rounded inline-blocked center post-navigation-button">
            <a href="{{ page.previous.url }}" >
                <div class="button-padding">
                    <strong class="white">Previous</strong>
                </div>    
            </a>
        </div>
    {% endif %}
</div>
