<div class="center" style="margin-top: 30px;">
  
  Contact Details

  <div class="social-buttons">
  
    {%- if site.twitter_username -%}
      <a  href="https://twitter.com/{{ site.twitter_username| cgi_escape | escape }}"
          class="stylish-tooltip"
          title="My 💩-looks-like-a-🕊️ profile!🐱‍🏍">
        <i class="fab fa-twitter social-icon fa-2x"></i>
      </a>
    {%- endif -%}

    {%- if site.github_username -%}
      <a  href="https://github.com/{{ site.github_username | cgi_escape | escape }}"
          class="stylish-tooltip"
          title="My once🕰️-in-a-while-updated📤 Github repositories🗃️!🐱‍💻">
        <i class="fab fa-github social-icon fa-2x"></i>
      </a>
    {%- endif -%}
    
    {%- if site.linkedin_username -%}
      <a  href="https://www.linkedin.com/sharing/in/{{ site.linkedin_username | cgi_escape | escape }}"
          class="stylish-tooltip" 
          title="My unprofessional LinkedIn🌃 profile!🐱‍👓">
          <i class="fab fa-linkedin social-icon fa-2x"></i>
      </a>
    {%- endif -%}

    {%- if site.email -%}
      <a  href="mailto:{{ site.email }}?subject=Hi there!"
          class="stylish-tooltip"
          title="Send me an email🧧!🐱‍👤">
          <i class="fas fa-envelope social-icon fa-2x"></i>
      </a>
    {%- endif -%}

    {%- if site.stackoverflow_username -%}
      <a  href="https://stackoverflow.com/users/{{ site.stackoverflow_username | cgi_escape | escape }}"
          class="stylish-tooltip" 
          title="My more-than-mediocre❤️‍🩹 SO profile!🐱‍🚀">
          <i class="fab fa-stack-overflow social-icon fa-2x"></i>
      </a>
    {%- endif -%}

    {%- if site.rss -%}
      <a  href="{{ 'feed.xml' | relative_url }}"
          class="stylish-tooltip" 
          title="Subscribe to the RSS feed!🐱‍🐉">
          <i class="fas fa-rss social-icon fa-2x"></i>
      </a>
    {%- endif -%}

    </div>

</div>
