
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto&display=swap');

$base-font-family: 'Roboto' !default;
$brand-color: #a94eff !default;
$brand-color-light: lighten($brand-color, 10%) !default;
$text-color: #dddddd !default;
$background-color: #222222 !default;
$content-width: 900px !default;
$base-font-size: 18px !default;
$grey-color-light: darken($background-color, 10%) !default;